
@import "bulma/sass/utilities/initial-variables";

$family-sans-serif: "Open Sans", sans-serif;
$primary: #0099ff;

$navbar-background-color: $black;
$navbar-height: 3.25rem;
$navbar-item-color: $grey-light;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $white;

$fa-font-path: "~font-awesome/fonts";
